# Packages
node_modules
/vendor
composer.lock
package-lock.json
/.phpunit.result.cache
/.phpunit.cache
/phpunit.xml.bak

# WordPress
wp-cli.phar
/wordpress

# Compiled Source
*.css.map
*.js.map

# Logs
*.log

# OS
.DS_Store*
ehthumbs.db
Thumbs.db

# Server
.htaccess

# IDE
.settings
.project
.build
.idea
.vscode
.fleet