// Branding
$blue: #3182bd;
$dark: #085286;
$light: #5199CC;
$alt: #FFCB36;

//  WordPress Colors
$wp_link: #0073aa;
$wp_button: #0085ba;
$wp_link_hover: #00a0d2;
$wp_button_hover: #008ec2;

// Alerts
$success: #46b450;
$error: #dc3232;
$warn: #ffb900;
$info: #00a0d2;

// Controls
$delete: #A00;
$delete_hover: #F00;

// Gays
$gray: #666;
$gray_dark: #191e23;