/* AJAX Alerts
----------------------------------------------------------------------- */
.typerocket-ajax-alert {
    position: fixed;
    top: 42px;
    right: 10px;
    z-index: 100000;
    padding: 15px 15px;
    line-height: 1.4em;
    max-width: 300px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    background: #fff;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    border-left: solid 4px;
    border-color: $success;

    &.tr-alert-error {
        border-color: $error;
    }

    &.tr-alert-warning {
        border-color: $warn;
    }

    &.tr-alert-info {
        border-color: $info;
    }
}

/* Mobile */
@media screen and (max-width: 782px) {
    .typerocket-rest-alert {
        top: 46px;
    }
}