/* Builder
----------------------------------------------------------------------- */
.builder-inputs {
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    border: 1px solid #e5e5e5;
    float: left;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    &:after {
        content:'';
        display: block;
        clear: both;
        height: 0;
    }

    > {
        h1, h2, h3, h4, h5, h6 {
            &:first-child {
                padding: 10px;
                box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
                border-bottom: 1px solid #e5e5e5;
                font-weight: bold;
                font-size: 14px;
                line-height: 1.4;
            }
        }
    }
}