/* Location
----------------------------------------------------------------------- */
.tr_field_location_google_map {
    height: 150px;
    background: #ccc;
    width: 100%;
}

.tr_field_location_load_lat_lng_section {
    margin: 10px 0;
}