/* Matrix
----------------------------------------------------------------------- */
.tr-matrix-controls {
    margin-bottom: 20px;

    select, select.matrix-select {
        display: inline-block;
        width: auto;
        margin: 0 10px 0 0;
    }
}