/* Field Groups
----------------------------------------------------------------------- */
.tr-repeater-group-template {
    display: none;
}

.tr-repeater-scale.tr-repeater-fields {
    transform: scale(.5);
}

.tr-repeater-fields {
    position: relative;
    clear: both;
}

.tr-repeater .controls {
    margin-bottom: 10px;
}

.tr-repeater-group {
    display: block;
    position: relative;
    border: solid 1px #e5e5e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    margin: 0 0 10px;
    background: #fff;

    &:last-child {
        margin-bottom: 0px;
    }
}

.tr-repeater-fields > .tr-sortable-placeholder {
    margin-bottom: 10px;
    &:last-child { margin-bottom: 0px;}
}

.repeater-controls {
    border-right: solid 1px #ddd;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 39px;
    left: 0;
    z-index: 2;
    color: #333;
    background: #f5f5f5;
    cursor: move;

    .tr-control-icon-remove {
        bottom: 0;
        z-index: 3;
    }

    .tr-control-icon-move {
        top: 30px;
        z-index: 3;
    }

    [class*="tr-control-icon"] {
        padding: 9px 0;
        width: 100%;
        left: 0;

        &:first-child {
            top: 0px !important;
        }
    }
}

.repeater-inputs {
    padding-left: 40px;
    position: relative;

    > {
        h1, h2, h3, h4, h5, h6 {
            &:first-child {
                padding: 10px;
                margin: 0;
                box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
                border-bottom: 1px solid #e5e5e5;
                font-weight: bold;
                font-size: 14px;
                line-height: 1.4;
            }
        }
    }
}


/* Repeater State
----------------------------------------------------------------------- */
.tr-repeater-group-collapsed,
.tr-repeater-collapse
{
    .tr-control-icon-collapse:before {
        content: '\f140';
    }
}

.tr-repeater-group-expanded {
    .tr-control-icon-collapse:before {
        content: '\f142';
    }
}

.tr-repeater-collapse > .tr-repeater-group,
.tr-repeater-group-collapsed {
    height: 90px;
    overflow: hidden;
}

.tr-repeater-collapse > .tr-repeater-group > .repeater-inputs:after,
.tr-repeater .tr-repeater-group-collapsed > .repeater-inputs:after {
    opacity: 0.6;
    background: #fff;
    content: '';
    z-index: 20;
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 40px;
}

.tr-repeater-collapse > .tr-repeater-group-expanded > .repeater-inputs:after {
    display: none;
}

.tr-repeater-collapse > .tr-repeater-group-expanded {
    height: 100%;
}