/* Search Field
----------------------------------------------------------------------- */
.typerocket-container {

    .tr-link-search-result {
        color: $wp_link;
        cursor: pointer;
        font-size: 14px;
        padding: 8px;
        margin: 0;
        border: solid #ddd 1px;
        border-top: none;
        background: #eee;
        display: block;

        &:hover, &:focus, &:active {
            background: $wp_link;
            color: #fff;
            outline: none;
            -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
            box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
        }
    }

    .tr-link-search-remove-selection {
        color: $delete;

        &:hover, &:active, &:focus {
            color: $delete_hover;
        }
    }

    .tr-link-search-results {
        margin: 0;
        background: #fff;
        -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
        box-shadow: inset 0 1px 2px rgba(0,0,0,.07);

        li {
            list-style: none;
        }
    }

    .tr-link-search-result-title {
        color: #666;
        cursor: pointer;
        font-weight: bold;
        font-size: 12px;
        padding: 8px;
        margin: 0;
        border: solid #ddd 1px;
        border-top: none;
        background: #fff;
    }

    .tr-link-search-input {
        background: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: none;
        border: 1px solid #ddd;

        &:focus {
            outline: none;
            box-shadow: none;
        }
    }

    .tr-link-search-page {
        padding: 7px;
        margin-top: 5px;
        -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .07);
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, .07);
        font-size: 14px;
        border: 1px solid #ddd;
        font-weight: normal;
        background: #fff;
    }
}