/* Toggle Field
----------------------------------------------------------------------- */
.tr-toggle-box {
    display: flex;
    position: relative;

    input[type=checkbox] {
        height: 0;
        width: 0;
        visibility: hidden;
        position: absolute;
    }

    .tr-toggle-box-text {
        margin: 4px 12px 0;
    }

    .tr-toggle-box-label {
        cursor: pointer;
        width: 50px;
        height: 24px;
        border: 3px solid #6c7781;
        display: block;
        border-radius: 100px;
        position: relative;
        padding: 0;
        line-height: 1.4em;

        &:focus {
            outline: none;
            box-shadow: 0 0 3px rgba(0,115,170,.8);
            border-color: #4c5761;
        }
    }

    .tr-toggle-box-label:after {
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        width: 20px;
        height: 20px;
        background: #6c7781;
        border-radius: 14px;
        transition: 0.3s;
    }

    input:checked + .tr-toggle-box-label {
        border-color: transparent;
        background: #11a0d2;
        padding: 0;

        &:after {
            background: #fff;
        }
    }

    input:checked + .tr-toggle-box-label:after {
        left: calc(100% - 2px);
        transform: translateX(-100%);
    }
}