$icomoon-font-path: "../fonts" !default;

$tr-icon-cog: "\f013";
$tr-icon-flag: "\f024";
$tr-icon-headphones: "\f025";
$tr-icon-qrcode: "\f029";
$tr-icon-crosshairs: "\f05b";
$tr-icon-plane: "\f072";
$tr-icon-calendar: "\f073";
$tr-icon-magnet: "\f076";
$tr-icon-key: "\f084";
$tr-icon-cogs: "\f085";
$tr-icon-link: "\f0c1";
$tr-icon-flask: "\f0c3";
$tr-icon-paperclip: "\f0c6";
$tr-icon-magic: "\f0d0";
$tr-icon-money: "\f0d6";
$tr-icon-dashboard: "\f0e4";
$tr-icon-umbrella: "\f0e9";
$tr-icon-lightbulb: "\f0eb";
$tr-icon-stethoscope: "\f0f1";
$tr-icon-suitcase: "\f0f2";
$tr-icon-coffee: "\f0f4";
$tr-icon-cutlery: "\f0f5";
$tr-icon-building: "\f0f7";
$tr-icon-ambulance: "\f0f9";
$tr-icon-beer: "\f0fc";
$tr-icon-desktop: "\f108";
$tr-icon-laptop: "\f109";
$tr-icon-tablet: "\f10a";
$tr-icon-mobile: "\f10b";
$tr-icon-gamepad: "\f11b";
$tr-icon-keyboard: "\f11c";
$tr-icon-terminal: "\f120";
$tr-icon-code: "\f121";
$tr-icon-location-arrow: "\f124";
$tr-icon-code-fork: "\f126";
$tr-icon-puzzle-piece: "\f12e";
$tr-icon-microphone: "\f130";
$tr-icon-shield: "\f132";
$tr-icon-fire-extinguisher: "\f134";
$tr-icon-anchor: "\f13d";
$tr-icon-bullseye: "\f140";
$tr-icon-ticket: "\f145";
$tr-icon-euro: "\f153";
$tr-icon-gbp: "\f154";
$tr-icon-dollar: "\f155";
$tr-icon-rupee: "\f156";
$tr-icon-yen: "\f157";
$tr-icon-ruble: "\f158";
$tr-icon-won: "\f159";
$tr-icon-sun: "\f185";
$tr-icon-moon: "\f186";
$tr-icon-pagelines: "\f18c";
$tr-icon-wheelchair: "\f193";
$tr-icon-space-shuttle: "\f197";
$tr-icon-slack: "\f198";
$tr-icon-bank: "\f19c";
$tr-icon-graduation: "\f19d";
$tr-icon-paw: "\f1b0";
$tr-icon-spoon: "\f1b1";
$tr-icon-cube: "\f1b2";
$tr-icon-cubes: "\f1b3";
$tr-icon-car: "\f1b9";
$tr-icon-tree: "\f1bb";
$tr-icon-life-saver: "\f1cd";
$tr-icon-rebel: "\f1d0";
$tr-icon-send: "\f1d8";
$tr-icon-bomb: "\f1e2";
$tr-icon-soccer: "\f1e3";
$tr-icon-binoculars: "\f1e5";
$tr-icon-plug: "\f1e6";
$tr-icon-newspaper-o: "\f1ea";
$tr-icon-wifi: "\f1eb";
$tr-icon-calculator: "\f1ec";
$tr-icon-eyedropper: "\f1fb";
$tr-icon-paint-brush: "\f1fc";
$tr-icon-area-chart: "\f1fe";
$tr-icon-pie-chart: "\f200";
$tr-icon-line-chart: "\f201";
$tr-icon-bicycle: "\f206";
$tr-icon-bus: "\f207";
$tr-icon-diamond: "\f219";
$tr-icon-street-view: "\f21d";
$tr-icon-heartbeat: "\f21e";
$tr-icon-venus: "\f221";
$tr-icon-mars: "\f222";
$tr-icon-battery: "\f241";
$tr-icon-map-pin: "\f276";
$tr-icon-map-signs: "\f277";
$tr-icon-map: "\f279";
$tr-icon-credit-card-alt: "\f283";
$tr-icon-usb: "\f287";
$tr-icon-shopping-bag: "\f290";
$tr-icon-shopping-basket: "\f291";
$tr-icon-envira: "\f299";
$tr-icon-wheelchair-alt: "\f29b";
$tr-icon-home: "\e902";
$tr-icon-office: "\e903";
$tr-icon-newspaper: "\e904";
$tr-icon-pencil: "\e905";
$tr-icon-quill: "\e907";
$tr-icon-droplet: "\e90b";
$tr-icon-paint-format: "\e90c";
$tr-icon-image: "\e90d";
$tr-icon-images: "\e90e";
$tr-icon-camera: "\e90f";
$tr-icon-music: "\e911";
$tr-icon-video-camera: "\e914";
$tr-icon-dice: "\e915";
$tr-icon-bullhorn: "\e91a";
$tr-icon-podcast: "\e91c";
$tr-icon-feed: "\e91d";
$tr-icon-mic: "\e91e";
$tr-icon-book: "\e91f";
$tr-icon-books: "\e920";
$tr-icon-stack: "\e92e";
$tr-icon-folder: "\e92f";
$tr-icon-price-tag: "\e935";
$tr-icon-price-tags: "\e936";
$tr-icon-barcode: "\e937";
$tr-icon-cart: "\e93a";
$tr-icon-credit-card: "\e93f";
$tr-icon-envelop: "\e945";
$tr-icon-location: "\e947";
$tr-icon-location-fill: "\e948";
$tr-icon-compass: "\e94a";
$tr-icon-clock: "\e94f";
$tr-icon-alarm: "\e950";
$tr-icon-bell: "\e951";
$tr-icon-stopwatch: "\e952";
$tr-icon-printer: "\e954";
$tr-icon-tv: "\e95b";
$tr-icon-drawer: "\e95d";
$tr-icon-floppy-disk: "\e962";
$tr-icon-drive: "\e963";
$tr-icon-database: "\e964";
$tr-icon-bubble: "\e96b";
$tr-icon-bubbles: "\e96d";
$tr-icon-user: "\e971";
$tr-icon-users: "\e972";
$tr-icon-user-tie: "\e976";
$tr-icon-hour-glass: "\e979";
$tr-icon-color-wheel: "\e97d";
$tr-icon-disk: "\e97e";
$tr-icon-open-disk: "\e981";
$tr-icon-search: "\e986";
$tr-icon-key2: "\e98d";
$tr-icon-key3: "\e98e";
$tr-icon-lock: "\e98f";
$tr-icon-unlocked: "\e990";
$tr-icon-wrench: "\e991";
$tr-icon-equalizer: "\e992";
$tr-icon-gear: "\e994";
$tr-icon-hammer: "\e996";
$tr-icon-bug: "\e999";
$tr-icon-trophy: "\e99e";
$tr-icon-gift: "\e99f";
$tr-icon-glass: "\e9a0";
$tr-icon-glass2: "\e9a1";
$tr-icon-mug: "\e9a2";
$tr-icon-spoon-knife: "\e9a3";
$tr-icon-rocket: "\e9a5";
$tr-icon-meter: "\e9a6";
$tr-icon-gavel: "\e9a8";
$tr-icon-fire: "\e9a9";
$tr-icon-lab: "\e9aa";
$tr-icon-trash: "\e9ac";
$tr-icon-briefcase: "\e9ae";
$tr-icon-truck: "\e9b0";
$tr-icon-road: "\e9b1";
$tr-icon-accessibility: "\e9b2";
$tr-icon-power: "\e9b5";
$tr-icon-clipboard: "\e9b8";
$tr-icon-node-tree: "\e9bc";
$tr-icon-menu: "\e9bd";
$tr-icon-cloud: "\e9c1";
$tr-icon-cloud-download: "\e9c2";
$tr-icon-cloud-upload: "\e9c3";
$tr-icon-sphere: "\e9c9";
$tr-icon-earth: "\e9ca";
$tr-icon-attachment: "\e9cd";
$tr-icon-eye: "\e9ce";
$tr-icon-eye-blocked: "\e9d1";
$tr-icon-bookmark: "\e9d2";
$tr-icon-bookmarks: "\e9d3";
$tr-icon-contrast: "\e9d5";
$tr-icon-brightness-contrast: "\e9d6";
$tr-icon-star-empty: "\e9d7";
$tr-icon-star-half: "\e9d8";
$tr-icon-star-full: "\e9d9";
$tr-icon-heart: "\e9da";
$tr-icon-heart-broken: "\e9db";
$tr-icon-man: "\e9dc";
$tr-icon-woman: "\e9dd";
$tr-icon-man-woman: "\e9de";
$tr-icon-spell-check: "\ea12";
$tr-icon-volume: "\ea27";
$tr-icon-loop: "\ea2d";
$tr-icon-infinite: "\ea2f";
$tr-icon-shuffle: "\ea30";
$tr-icon-checkbox: "\ea52";
$tr-icon-make-group: "\ea58";
$tr-icon-scissors: "\ea5a";
$tr-icon-filter: "\ea5b";
$tr-icon-omega: "\ea66";
$tr-icon-sigma: "\ea67";
$tr-icon-table: "\ea70";
$tr-icon-amazon: "\ea87";
$tr-icon-google: "\ea88";
$tr-icon-facebook: "\ea90";
$tr-icon-twitter: "\ea96";
$tr-icon-steam: "\eaac";
$tr-icon-github: "\eab0";
$tr-icon-tux: "\eabd";
$tr-icon-apple: "\eabe";
$tr-icon-android: "\eac0";
$tr-icon-windows: "\eac2";