@import 'vars.scss';

/* Function  Helper
----------------------------------------------------------------------- */
.tr-dev-alert-helper {
    padding: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid $blue;
    color: #23282d;
    margin: 10px auto;
}

.tr-dev-alert-helper code {
    background: rgba(238, 238, 238, 0.35);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
    color: $blue;
    padding: 4px;
    display: inline-block;
    border-radius: 4px;
}

/* Input Helper
----------------------------------------------------------------------- */
.typerocket-container .dev {
    font-weight: normal;
    display: inline-block;
    position: relative;
    top: 1px;
}

.typerocket-container .control-section .dev:hover > i,
.typerocket-container .tr-repeater-group .control-section .dev:hover > i {
    color: $dark;
}

.typerocket-container .control-section:hover .dev .nav,
.typerocket-container .tr-repeater-group .control-section .dev:hover .nav {
    opacity: 1;
}

.typerocket-container .dev .nav,
.typerocket-container .tr-repeater-group .control-section .dev .nav {
    display: inline-block;
    -webkit-transition: opacity 0.5s ease-out;
    opacity: 0;
    max-width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    line-height: 1em;
}

.typerocket-container .dev,
.typerocket-container .tr-repeater-group .control-section .dev {
    color: #999999;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.typerocket-container .dev:hover .nav .field {
    color: $blue;
}

.typerocket-container .dev .nav .field {
    margin-left: 5px;
}

.tr-repeater .tr-repeater .dev {
    display: none;
}

.tr-matrix > .dev, .tr-repeater > .dev {
    margin-bottom: 10px;
}

/* Mobile
----------------------------------------------------------------------- */
@media screen and (max-width: 782px) {
    #wpbody .control-label .dev {
        display: none;
    }
}

/* Dev Page
----------------------------------------------------------------------- */

#dev-icon-search {
    width: 100%;
    padding: 8px 12px;
}

#debug-icon-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 20px 0 0;
    padding: 0;

    strong, em {
        margin: 6px 0;
        display: block;
    }

    li {
        list-style: none;
        border: solid #999999 1px;
        border-radius: 4px;
        text-align: center;
        font-size: 12px;
        padding: 10px;

        &:before {
            font-size: 42px;
            display: block;
        }
    }
}