@import 'vars.scss';

/* Matrix
----------------------------------------------------------------------- */
.matrix-controls {
    margin-bottom: 20px;
}

.matrix-controls select {
    display: inline-block;
    width: auto;
    margin: 0 10px 0 0;
}

.matrix-disabled {
    opacity: 0.8;
}

/* Tabs In Repeaters
----------------------------------------------------------------------- */
.tr-repeater-group .repeater-inputs > .tr-tabbed-top:not(:only-of-type) {
    padding-bottom: 15px;
}

.tr-repeater-group .repeater-inputs > .tr-tabbed-top:only-child {
    padding-bottom: 0;
}

/* Frames, Meta Boxes and Repeaters
----------------------------------------------------------------------- */
.tr-frame-fields,
.repeater-inputs,
.postbox-container .typerocket-container {
    .control-section + .tr-tabbed-top  {
        margin-top: 9px;
        padding-top: 0;

        &:after {
            padding: 0 10px;
            margin: 0px -5px;
        }
    }

    [class^=control-row] + .tr-tabbed-top  {
        margin-top: 9px;
        padding-top: 1px;

        &:after {
            padding: 0 10px;
            margin: 0px -5px;
        }
    }

    .tr-tabbed-top + .control-section {
        padding-top: 12px;

        &:after {
            margin: 0px -5px;
        }
    }

    .tr-tabbed-top + [class^=control-row] {
        padding-top: 9px;

        &:after {
            margin: 0px -5px;
        }
    }
}