@import 'vars.scss';

/* Rows
----------------------------------------------------------------------- */
.postbox-container .typerocket-container [class^=control-row],
.repeater-inputs [class^=control-row],
.tr-frame-fields [class^=control-row]
{
    padding-top: 15px;
}

.postbox-container .typerocket-container > [class^=control-row]:first-child {
    padding-top: 0;
}

/* Labels
----------------------------------------------------------------------- */
.typerocket-container .repeater-inputs .control-label,
.postbox-container .typerocket-container .control-label {
    font-size: 12px;
}

/* Matrix
----------------------------------------------------------------------- */
.matrix-controls {
    margin-bottom: 20px;
}

.matrix-controls select {
    display: inline-block;
    width: auto;
    margin: 0 10px 0 0;
}

.matrix-disabled {
    opacity: 0.8;
}

/* Repeater
----------------------------------------------------------------------- */
.tr-repeater-fields {
    position: relative;
    clear: both;
}

.tr-repeater-button-add {
    display: inline-block;
    margin-right: 10px;
    position: relative;
    white-space: nowrap;
    font-size: 0;
    vertical-align: middle;
}

.tr-repeater-collapse > .tr-repeater-group,
.tr-repeater-group-collapsed {
    height: 90px;
    overflow: hidden;
}

.tr-repeater-collapse > .tr-repeater-group > .repeater-inputs:after,
.tr-repeater .tr-repeater-group-collapsed > .repeater-inputs:after {
    opacity: 0.6;
    background: #fff;
    content: '';
    z-index: 20;
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 40px;
}

.tr-repeater-collapse > .tr-repeater-group-expanded > .repeater-inputs:after {
    display: none;
}

.tr-repeater-collapse > .tr-repeater-group-expanded {
    height: 100%;
}

.tr-repeater-group-template {
    display: none;
}

/* Repeater Controls
----------------------------------------------------------------------- */
.tr-repeater-group .repeater-controls {
    border-right: solid 1px #ddd;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 39px;
    left: 0;
    z-index: 2;
    color: #333;
    background: #f5f5f5;
}

.tr-repeater-group .repeater-controls .remove,
.tr-repeater-group .repeater-controls .move,
.tr-repeater-group .repeater-controls .collapse {
    font-family: dashicons;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 16px;
    line-height: 16px;
    position: absolute;
    left: 0;
    z-index: 10;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    color: #9B9B9B;
    width: 100%;
    padding: 9px 0;
    text-align: center;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.repeater-controls .collapse:before,
.repeater-controls .remove:before,
.repeater-controls .move:before {
    -webkit-font-smoothing: antialiased;
    font: normal 20px/1 'dashicons';
}

.tr-repeater-group .repeater-controls .remove {
    bottom: 0;
    z-index: 11;
    background: #f5f5f5;
}

.tr-repeater-group .repeater-controls .remove:before {
    content: "\f335";
}

.tr-repeater-group .repeater-controls .move {
    top: 36px;
    cursor: move;
}

.tr-repeater-group .repeater-controls .move:before {
    content: "\f333";
}

.tr-repeater-group .repeater-controls .collapse {
    top: 0;
    cursor: pointer;
    font-family: dashicons;
    font-weight: 400;
    font-size: 21px;
}

.tr-repeater-group .repeater-controls .collapse:before {
    content: '\f142';
}

.tr-repeater-collapse > .tr-repeater-group .repeater-controls .collapse:before,
.tr-repeater-group-collapsed.tr-repeater-group .repeater-controls .collapse:before {
    content: '\f140';
}

.tr-repeater-group .repeater-controls .move:hover,
.tr-repeater-group .repeater-controls .collapse:hover,
.tr-items-list .move:hover {
    color: #333;
}

.tr-repeater-group .repeater-controls .remove:hover,
.tr-items-list .remove:hover {
    color: $delete_hover;
}

.tr-repeater-fields .tr-repeater-group.ui-sortable-placeholder:after {
    display: none;
}

.tr-repeater-group .repeater-controls {
    cursor: move;
}

.tr-repeater .controls {
    margin: 0 0 10px 0;
}

/* Tabs In Repeaters
----------------------------------------------------------------------- */
.tr-repeater-group .repeater-inputs > .tr-tabbed-top:not(:only-of-type) {
    padding-bottom: 15px;
}

.tr-repeater-group .repeater-inputs > .tr-tabbed-top:only-child {
    padding-bottom: 0;
}

#wpwrap, body {
    .tr-repeater-group .tab-section [class^=control-row]:first-child .control-section {
        padding-top: 0 !important;
    }
}

/* Frames, Meta Boxes and Repeaters
----------------------------------------------------------------------- */
.tr-frame-fields,
.repeater-inputs,
.postbox-container .typerocket-container {
    .control-section + .tr-tabbed-top  {
        margin-top: 9px;
        padding-top: 0;

        &:after {
            padding: 0 10px;
            margin: 0px -5px;
        }
    }

    [class^=control-row] + .tr-tabbed-top  {
        margin-top: 9px;
        padding-top: 1px;

        &:after {
            padding: 0 10px;
            margin: 0px -5px;
        }
    }

    .tr-tabbed-top + .control-section {
        padding-top: 12px;

        &:after {
            margin: 0px -5px;
        }
    }

    .tr-tabbed-top + [class^=control-row] {
        padding-top: 9px;

        &:after {
            margin: 0px -5px;
        }
    }
}

.postbox-container .typerocket-container
{
    [class^=control-row] + [class^=control-row],
    .control-section + [class^=control-row] {
        padding-top: 9px;
    }

    [class^=control-row] + .control-section {
        padding-top: 15px;
    }
}

.builder-inputs .tr-tabbed-top .tab-section > [class^=control-row]:first-child,
.tr-repeater-group .tr-tabbed-top .tab-section > [class^=control-row]:first-child,
.tr-repeater-group .tr-tabbed-top:first-child .tabbed-sections .tr-tabs,
.builder-inputs .tr-tabbed-top:first-child .tabbed-sections .tr-tabs
{
    padding-top: 0;
}

.repeater-inputs
{
    [class^=control-row] + .control-section:after {
        padding: 0 10px !important;
        left: -10px;
    }

    [class^=control-row] + [class^=control-row],
    .control-section + [class^=control-row] {
        padding-top: 9px;
    }

    [class^=control-row] + .control-section {
        padding-top: 15px;
    }
}

.tr-frame-fields
{
    [class^=control-row] + .control-section:after {
        padding: 0 10px;
        left: -10px;
    }

    [class^=control-row] + [class^=control-row],
    .control-section + [class^=control-row] {
        padding-top: 9px;
    }

    [class^=control-row] + .control-section {
        padding-top: 15px;
    }
}

.postbox-container .typerocket-container [class^=control-row] .control-section + .control-section:after,
.repeater-inputs [class^=control-row] .control-section + .control-section:after,
.tr-frame-fields [class^=control-row] .control-section + .control-section:after
{
    content: '';
    display: none;
}

.inside .typerocket-container [class^=control-row] .control-section:first-child .control-label {
    margin-top: -4px;
}

/* Maxlength
----------------------------------------------------------------------- */
.tr-maxlength {
    margin-top: 3px;
    margin-bottom: 6px;
    color: #666;
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
}

.tr-maxlength span {
    color: $blue;
    font-weight: bold;
}

/* Sort Helper
----------------------------------------------------------------------- */
.tr-repeater-group.ui-sortable-helper,
.tr-gallery-list li.ui-sortable-helper {
    opacity: 0.8;
    cursor: move;
    overflow: hidden;
}

body .tr-builder .controls .tr-components li,
.tr-repeater-fields .tr-repeater-group,
.tr-gallery-list li,
.tr-items-list li,
.tr-link-chosen-item {
    &.ui-sortable-placeholder {
        border: dashed 1px #bbb !important;
        visibility: visible !important;
        background: none !important;
        z-index: 1;
        box-shadow: none;
    }
}