@import 'vars.scss';

/* Inputs
----------------------------------------------------------------------- */
.typerocket-container input[type="text"],
.typerocket-container input[type="email"],
.typerocket-container input[type="password"],
.typerocket-container input[type="number"],
.typerocket-container textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 6px;
    margin: 0;
}

.typerocket-container select {
    margin: 0 0 5px;
    padding: 3px;
    box-sizing: border-box;
    width: 100%;
}

.typerocket-container textarea {
    min-height: 120px;
}

.typerocket-container .help p {
    color: #666;
    font-style: italic;
    margin: 4px 0 0;
    font-size: 13px;
}

/* Rows
----------------------------------------------------------------------- */
.control-section + [class^=control-row],
[class^=control-row] + .control-section,
[class^=control-row] + [class^=control-row] {
    margin-top: 12px;
}

[class^=control-row] .control-section {
    display: inline-block;
    padding: 5px !important;
    box-sizing: border-box;
    margin-top: 0 !important;
    vertical-align: top;
}

[class^=control-row] {
    margin-left: -5px;
    margin-right: -5px;
    position: relative;
}

.control-row-2 .control-section {
    width: 50%;
}

.control-row-3 .control-section {
    width: 33.32%;
}

.control-row-4 .control-section {
    width: 25%;
}

.control-row-5 .control-section {
    width: 20%;
}

.control-row-6 .control-section {
    width: 16.62%;
}

.postbox-container .typerocket-container [class^=control-row],
.repeater-inputs [class^=control-row],
.tr-frame-fields [class^=control-row]
{
    padding-top: 15px;
}

.postbox-container .typerocket-container > [class^=control-row]:first-child {
    padding-top: 0;
}

/* Control Sections
----------------------------------------------------------------------- */
.typerocket-container .control-section + .control-section {
    margin-top: 12px;
    padding-top: 14px;
}

.typerocket-container .control-section {
    position: relative;
}

/* Labels
----------------------------------------------------------------------- */
.typerocket-container .control-label {
    color: #333;
    display: block;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: auto;
    width: auto;
    padding-left: 1px;
    padding-bottom: 4px;
}

.inside .typerocket-container .control-section:first-child .control-label {
    margin-top: 10px;
}

.typerocket-container .control-section .control-label {
    margin-top: -4px;
}

.typerocket-container .repeater-inputs .control-label,
.postbox-container .typerocket-container .control-label {
    font-size: 12px;
}

/* Section Top Bar
----------------------------------------------------------------------- */
.postbox-container .typerocket-container .control-section + .control-section:after,
.repeater-inputs .control-section + .control-section:after,
.tr-frame-fields .control-section + .control-section:after {
    content: '';
    display: block;
    width: 100%;
    border-top: 1px solid #DFDFDF;
    border-bottom: 1px solid #fff;
    position: absolute;
    padding: 0 10px;
    left: -10px;
    top: 0;
}

.tr-frame-fields .control-section + .control-section:after {
    padding: 0 10px 0;
}

/* Matrix
----------------------------------------------------------------------- */
.matrix-controls {
    margin-bottom: 20px;
}

.matrix-controls select {
    display: inline-block;
    width: auto;
    margin: 0 10px 0 0;
}

.matrix-disabled {
    opacity: 0.8;
}

/* Repeater Headlines
----------------------------------------------------------------------- */
.tr-repeater-group .repeater-inputs {
    padding-left: 40px;
    position: relative;

    > *:first-child {
        margin-top: 0;
        padding-top: 0;
    }

    > h1, > h2, > h3, > h4, > h5, > h6 {
        &:first-child {
            margin: 0 -10px 5px;
            padding: 0 12px 8px;
            box-shadow: 0 1px 1px rgba(0,0,0,.04);
            border-bottom: 1px solid #e5e5e5;
            font-weight: bold;
            font-size: 14px;
            line-height: 1.4;
        }
    }

}

/* Repeater
----------------------------------------------------------------------- */
.tr-repeater-fields {
    position: relative;
    clear: both;
}

.tr-repeater-button-add {
    display: inline-block;
    margin-right: 10px;
    position: relative;
    white-space: nowrap;
    font-size: 0;
    vertical-align: middle;
}

.tr-repeater-collapse > .tr-repeater-group,
.tr-repeater-group-collapsed {
    height: 90px;
    overflow: hidden;
}

.tr-repeater-collapse > .tr-repeater-group > .repeater-inputs:after,
.tr-repeater .tr-repeater-group-collapsed > .repeater-inputs:after {
    opacity: 0.6;
    background: #fff;
    content: '';
    z-index: 20;
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 30px;
}

.tr-repeater-collapse > .tr-repeater-group-expanded > .repeater-inputs:after {
    display: none;
}

.tr-repeater-collapse > .tr-repeater-group-expanded {
    height: 100%;
}

.tr-repeater-group-template {
    display: none;
}

.tr-repeater-fields > .tr-repeater-group {
    display: block;
    position: relative;
    padding: 10px;
    border: solid 1px #e5e5e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    margin: 0 0 10px;
    background: #fff;
}

/* Repeater Controls
----------------------------------------------------------------------- */
.tr-repeater-group .repeater-controls {
    border-right: solid 1px #ddd;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 39px;
    left: 0;
    z-index: 2;
    color: #333;
    background: #f5f5f5;
}

.tr-repeater-group .repeater-controls .remove,
.tr-repeater-group .repeater-controls .move,
.tr-repeater-group .repeater-controls .collapse {
    font-family: dashicons;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 16px;
    line-height: 16px;
    position: absolute;
    left: 0;
    z-index: 10;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    color: #9B9B9B;
    width: 100%;
    padding: 9px 0;
    text-align: center;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.repeater-controls .collapse:before,
.repeater-controls .remove:before,
.repeater-controls .move:before {
    -webkit-font-smoothing: antialiased;
    font: normal 20px/1 'dashicons';
}

.tr-repeater-group .repeater-controls .remove {
    bottom: 0;
    z-index: 11;
    background: #f5f5f5;
}

.tr-repeater-group .repeater-controls .remove:before {
    content: "\f335";
}

.tr-repeater-group .repeater-controls .move {
    top: 36px;
    cursor: move;
}

.tr-repeater-group .repeater-controls .move:before {
    content: "\f333";
}

.tr-repeater-group .repeater-controls .collapse {
    top: 0;
    cursor: pointer;
    font-family: dashicons;
    font-weight: 400;
    font-size: 21px;
}

.tr-repeater-group .repeater-controls .collapse:before {
    content: '\f142';
}

.tr-repeater-collapse > .tr-repeater-group .repeater-controls .collapse:before,
.tr-repeater-group-collapsed.tr-repeater-group .repeater-controls .collapse:before {
    content: '\f140';
}

.tr-repeater-group .repeater-controls .move:hover,
.tr-repeater-group .repeater-controls .collapse:hover,
.tr-items-list .move:hover {
    color: #333;
}

.tr-repeater-group .repeater-controls .remove:hover,
.tr-items-list .remove:hover {
    color: $delete_hover;
}

.tr-repeater-fields .tr-repeater-group.ui-sortable-placeholder:after {
    display: none;
}

.tr-repeater-group .repeater-controls {
    cursor: move;
}

.tr-repeater .controls {
    margin: 0 0 10px 0;
}

/* Tabs In Repeaters
----------------------------------------------------------------------- */
.tr-repeater-group .repeater-inputs > .tr-tabbed-top:not(:only-of-type) {
    padding-bottom: 15px;
}

.tr-repeater-group .repeater-inputs > .tr-tabbed-top:only-child {
    padding-bottom: 0;
}

#wpwrap, body {
    .tr-repeater-group .tab-section [class^=control-row]:first-child .control-section {
        padding-top: 0 !important;
    }
}

/* Frames, Meta Boxes and Repeaters
----------------------------------------------------------------------- */
.tr-frame-fields, .repeater-inputs {
    h1, h2, h3, h4, h5, h6 {
        + [class^=control-row] {
            padding-top: 0;

            .control-section {
                padding-top: 0 !important;
            }
        }
    }
}

.tr-frame-fields,
.repeater-inputs,
.postbox-container .typerocket-container {
    .control-section + [class^=control-row]:after,
    [class^=control-row] + [class^=control-row]:after,
    [class^=control-row] + .control-section:after,
    .tr-tabbed-top + .control-section:after,
    .tr-tabbed-top + [class^=control-row]:after,
    [class^=control-row] + .tr-tabbed-top:after,
    .control-section + .tr-tabbed-top:after
    {
        content: '';
        display: block;
        width: 100%;
        border-top: 1px solid #DFDFDF;
        border-bottom: 1px solid #fff;
        position: absolute;
        padding: 0 5px;
        left: -5px;
        top: 0;
    }

    .control-section + .tr-tabbed-top  {
        margin-top: 9px;
        padding-top: 0;

        &:after {
            padding: 0 10px;
            margin: 0px -5px;
        }
    }

    [class^=control-row] + .tr-tabbed-top  {
        margin-top: 9px;
        padding-top: 1px;

        &:after {
            padding: 0 10px;
            margin: 0px -5px;
        }
    }

    .tr-tabbed-top + .control-section {
        padding-top: 12px;

        &:after {
            margin: 0px -5px;
        }
    }

    .tr-tabbed-top + [class^=control-row] {
        padding-top: 9px;

        &:after {
            margin: 0px -5px;
        }
    }
}

.postbox-container .typerocket-container
{
    [class^=control-row] + [class^=control-row]:after,
    .control-section + [class^=control-row]:after,
    [class^=control-row] + .control-section:after {
        padding: 0 7px;
        left: -7px;
    }

    [class^=control-row] + .control-section:after {
        padding: 0 12px;
        left: -12px;
    }

    [class^=control-row] + [class^=control-row],
    .control-section + [class^=control-row] {
        padding-top: 9px;
    }

    [class^=control-row] + .control-section {
        padding-top: 15px;
    }
}

.builder-inputs .tr-tabbed-top .tab-section > [class^=control-row]:first-child,
.tr-repeater-group .tr-tabbed-top .tab-section > [class^=control-row]:first-child,
.tr-repeater-group .tr-tabbed-top:first-child .tabbed-sections .tr-tabs,
.builder-inputs .tr-tabbed-top:first-child .tabbed-sections .tr-tabs
{
    padding-top: 0;
}

.builder-inputs, .tr-repeater-group {
    .tr-tabbed-top:first-child,
    h1:first-child + .tr-tabbed-top {
        .tabbed-sections .tr-tabs {
            padding-top: 0;
        }
    }

    h1:first-child + {
        .control-section, [class^=control-row] {
            margin-top: 15px;
        }
    }
}

.builder-inputs > .tr-tabbed-top + {
    .control-section {
        &:after {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    [class^=control-row] {
        &:after {
            left: 0;
            margin-left: -5px;
            margin-right: -5px;
            padding-left: 5px;
            padding-right: 5px;
        }
    }

}

.repeater-inputs
{
    [class^=control-row] + .control-section:after {
        padding: 0 10px !important;
        left: -10px;
    }

    [class^=control-row] + [class^=control-row],
    .control-section + [class^=control-row] {
        padding-top: 9px;
    }

    [class^=control-row] + .control-section {
        padding-top: 15px;
    }
}

.tr-frame-fields
{
    [class^=control-row] + .control-section:after {
        padding: 0 10px;
        left: -10px;
    }

    [class^=control-row] + [class^=control-row],
    .control-section + [class^=control-row] {
        padding-top: 9px;
    }

    [class^=control-row] + .control-section {
        padding-top: 15px;
    }
}

.postbox-container .typerocket-container [class^=control-row] .control-section + .control-section:after,
.repeater-inputs [class^=control-row] .control-section + .control-section:after,
.tr-frame-fields [class^=control-row] .control-section + .control-section:after
{
    content: '';
    display: none;
}

.inside .typerocket-container [class^=control-row] .control-section:first-child .control-label {
    margin-top: -4px;
}

/* Maxlength
----------------------------------------------------------------------- */
.tr-maxlength {
    margin-top: 3px;
    margin-bottom: 6px;
    color: #666;
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
}

.tr-maxlength span {
    color: $blue;
    font-weight: bold;
}

/* Sort Helper
----------------------------------------------------------------------- */
.tr-repeater-group.ui-sortable-helper,
.tr-gallery-list li.ui-sortable-helper {
    opacity: 0.8;
    cursor: move;
    overflow: hidden;
}

body .tr-builder .controls .tr-components li,
.tr-repeater-fields .tr-repeater-group,
.tr-gallery-list li,
.tr-items-list li{
    &.ui-sortable-placeholder {
        border: dashed 1px #bbb;
        visibility: visible !important;
        background: none;
        z-index: 1;
        box-shadow: none;
    }
}