/* Main Container
----------------------------------------------------------------------- */
.typerocket-container .contextual-help-tabs-wrap .help-tab-content {
    padding-bottom: 20px;
}

.typerocket-container {
    box-sizing: border-box;
    clear: both;

    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

/* Admin Page
----------------------------------------------------------------------- */
.wrap {
    .tr-admin-page-title {
        margin-bottom: 10px;
        font-size: 23px;
        font-weight: 400;
        padding: 9px 15px 4px 0;
        line-height: 29px;
    }
}

/* Helpers
----------------------------------------------------------------------- */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}